body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  padding: 0.35em 1.2em;
  border-radius: .12em;
  border: .1em solid #ffffff;
  background-color: #228b22;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.btn:hover{
  color: #000000;
  background-color: #ffffff;
}

.nav {
  display: inline-block;
  padding: 0.35em 1.2em;
  border-radius: .12em;
  border: .1em solid #ffffff;
  background-color: #228b22;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.nav:hover{
  color: #000000;
  background-color: #ffffff;
}

.deletebtn{
  display: inline-block;
  padding: 0.35em 1.2em;
  border-radius: .12em;
  border: .1em solid #ffffff;
  background-color: #ff0000;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

.deletebtn:hover{
  color: #000000;
  background-color: #dc143c;
}

